<html>

<head>

<title>Employment</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../../../../ktpe-front/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../../../../../ktpe-front/css/style.css" media="screen,projection" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../../../../ktpe-front/js/materialize.min.js"></script>

    <link rel="icon" type="image/x-icon" href="../../../../../ktpe-front/img/kpi.png">
</head>

<body>
   <!-- MENU -->
    <ul id="slide-out" class="side-nav">
        <li>
            <a href="index.html">Home</a>
        </li>
        <li><div class="divider"></div></li>
        <li>
            <a href="lecturers.html">Lecturers</a>
        </li>
        <li><div class="divider"></div></li>
        <li>
            <a href="conferences.html">Conferences</a>
        </li>
        <li>
            <a href="olympiads.html">Olympiads</a>
        </li>
        <li>
            <a href="groups.html">Scientific groups</a>
        </li>
        <li>
            <a href="researching.html">Research and development efforts</a>
        </li>
        <li><div class="divider"></div></li>
        <li>
            <a href="curators.html">Curators</a>
        </li>
        <li>
            <a href="subjects.html">Disciplines</a>
        </li>
        <li><div class="divider"></div></li>
        <li>
            <a href="applicant.html">For applicants</a>
        </li>
        <li><div class="divider"></div></li>
        <li>
            <a href="activity.html">International activity</a>
        </li>
        <li><div class="divider"></div></li>
        <li>
            <a href="employment.html">Employment</a>
        </li>
        <!-- <li>
            <a href="offers.html">Пропозиції роботодавців</a>
        </li> -->
        <li>
            <a href="employers.html">For employers</a>
        </li>
        <li><div class="divider"></div></li>
        <li>
            <a href="../../../../../ktpe-front/index.html"><img src="../../../../../ktpe-front/img/Flag_of_Ukraine.png" class="flag"></a>
            <!-- <a href="html/en/index.html"><img src="img/Prapor_Velikoyi_Britaniyi.png" class="flag"></a> -->
        </li>
    </ul> 
    <!-- MENU -->

    <div class="head">        
        <!-- <img class="head-background" src="img/Shapka.png" /> -->
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>  <!-- Burger Button -->
        <img src="../../../../../ktpe-front/img/kpi.png" class="head-logo">
        <div class="center-block">
            <div>
                <span>National Technical University of Ukraine <br>"Igor Sikorsky Kyiv Polytechnic Institute"</span>
            </div>
            <div>
                <span>Department of Theoretic and Applied Economics</span>
            </div>
        </div>
    </div>

    <div class="nav-wrapper">
        <ul class="main-menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="lecturers.html">Lecturers</a></li>
            <li><a href="#">Science<i class="material-icons right">arrow_drop_down</i></a>
                <ul class="submenu">
                    <li><a href="conferences.html">Conferences</a></li>
                    <li><a href="olympiads.html">Olympiads</a></li>
                    <li><a href="groups.html">Scientific groups</a></li>
                    <li><a href="researching.html">Research and development efforts</a></li>
                </ul>
            </li>
            <li><a href="#">Students<i class="material-icons right">arrow_drop_down</i></a>
                <ul class="submenu">
                    <li><a href="curators.html">Curators</a></li>
                    <li><a href="subjects.html">Disciplines</a></li>
                </ul>
            </li>
            <li><a href="applicant.html">For applicants</a></li>
            <li><a href="activity.html">International activity</a></li>
            <li><a href="#">Employment<i class="material-icons right">arrow_drop_down</i></a>
                <ul class="submenu">
                    <li><a href="employment.html">Employment</a></li>
                    <!-- <li><a href="offers.html">Пропозиції роботодавців</a></li> -->
                    <li><a href="employers.html">For employers</a></li>
                </ul>
            </li>
            <li><a href="#"><img src="../../../../../ktpe-front/img/Prapor_Velikoyi_Britaniyi.png" class="flag"><i class="material-icons right">arrow_drop_down</i></a>
                <ul class="submenu">
                    <li><a href="../../../../../ktpe-front/index.html"><img src="../../../../../ktpe-front/img/Flag_of_Ukraine.png" class="flag"></a></li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- <div class="container navigation">
        <div class="row">
            <div class="col s12 m12">
                <b><span>Працевлаштування<span></b>
            </div>
        </div>
    </div> -->

    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col s12 m12">
                <div class="card modal-content">   

                    <img src="../../../../../ktpe-front/img/kpi.png" class="center-block" style="margin-top: 15px;">
                    
                    <p style="margin: 0">Graduates can work as:</p>
                    
                    <ol style="margin: 0">
                        <b>heads of HR-departments (Departments):</b>
                        <li>Social Development company;</li>
                        <li>Corporate PR;</li>
                        <li>for safety and emergencies;</li> 
                        <li>Adaptation Division staff;</li>
                        <li>Department of training and staff development;</li>
                        <li>Department of selection and professional training (training) staff;</li>
                    </ol>

                    <ol>
                        <b>experts in the field of labor, employment and social sponsorship: </b>
                        <li>headhunter;</li>
                        <li>HR auditor;</li>
                        <li>Accounting HR;</li> 
                        <li>Corporate image-maker;</li>
                        <li>fundraisers in social volunteering;</li>
                        <li>Analyst of labor market and professional employment;</li>
                        <li>expert in social responsibility;</li>
                        <li>Engineer setter labor;</li>
                        <li>Expert in teambuilding</li>
                    </ol>

                    <ol>
                        <b>Employment agents and labor contacts:</b>
                        <li>recruiter;</li>
                        <li>Outstaffing specialist;</li>
                        <li>expert in business communications and networking;</li> 
                        <li>outsourcing specialist;</li>
                        <li>Specialist in leasing;</li>
                    </ol>

                    <ol>
                        <b>managers:</b>
                        <li>HR-manager;</li>
                        <li>coacher;</li>
                        <li>Event manager;</li> 
                        <li>Training manager;</li>
                        <li>Office administrator;</li>
                        <li>Motivational speaker;</li>
                        <li>Manager of educational and socio-political projects</li>
                    </ol>

                    <ol style="padding-bottom: 20px;">
                        <b>Experts on social protection</b>
                    </ol>

                </div>
            </div>
        </div>
    </div>   

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Department of Theoretical and Applied Economics</h5>
                    <p class="grey-text text-lighten-4">Kyiv, Polytechnichna Ayr 12, building 17, room 216</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Contact us</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Phone: 204-85-07, 204-98-63</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">E-mail: kpte@ukr.net</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright Text
                <a class="grey-text text-lighten-4 right" href="http://dilcore.com/">by Dilcore</a>
            </div>
        </div>
    </footer>

    <!-- Buger customizing -->
    <script>
        $('.button-collapse').sideNav({
            menuWidth: 285, // Default is 300
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true // Choose whether you can drag to open on touch screens
        });

        $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrain_width: false, // Does not change width of dropdown to that of the activator
            hover: true, // Activate on hover
            gutter: 0, // Spacing from edge
            belowOrigin: false, // Displays dropdown below the button
            alignment: 'left' // Displays dropdown with edge aligned to the left of button
        });
    </script>


</body>

</html>